index
<hr>
<!--
<ul>
    {% for val in phonebook %}
    <li>
        {{val}}
    </li>
    {% endfor %}
</ul>
<hr>

<ul>
    {% for i in phonebook %}
    <li>
        {{i.id}}. {{i.이름}} : {{i.전화번호}}
    </li>
    {% endfor %}
</ul>
-->


{%for i in phonebook %}
<li>
    {{i.id}} :  
    <a href="{% url 'PB:detail' i.id %}">{{i.이름}}</a> 
    <!-- 상대경로 : <a href="http://phonebook/detail/{{i.id}}">{{i.이름}}</a> -->
    <!-- 절대경로 : <a href="http://127.0.0.1:8000/phonebook/detail/{{i.id}}">{{i.이름}}</a> -->
    : {{i.전화번호}}
</li>
{% endfor %}

<button type="button" onclick="location.href='{% url 'PB:add' %}'">추가</button>









