

<h2> phonebook index 페이지 </h2> 
<hr>
<!--
<ul>
    {% for val in phonebook %}
    <li>
        {{val}}
    </li>
    {% endfor %}
</ul>
<hr>

<ul>
    {% for i in phonebook %}
    <li>
        {{i.id}}. {{i.이름}} : {{i.전화번호}}
    </li>
    {% endfor %}
</ul>
-->

<!-- 연습문제 -->

<table border="1">
    <td>
        {%for i in phonebook %}
        <li>
            {{i.id}} :  
            <!-- 상대경로 :  <a href="http://phonebook/detail/{{i.id}}">{{i.이름}}</a> -->
            <a href="http://127.0.0.1:8000/phonebook/detail/{{i.id}}">{{i.이름}}</a> 
            : {{i.전화번호}}
        </li>
        {% endfor %}
    </td>
</table>








