<html>
<head>
    <style>
        ul { display:inline; }
        ul li { display:inline; padding: 0 10px 0 0;}
    </style>
</head>
<body>
    <div align="center">
        <h1 style="color:burlywood; font-size:60px; font-family:Gabriola;">
            Web &nbsp; Developer
        </h1>
    </div>
    <div align="right">
        <hr>
        <ul>
            <li><a href="{% url 'mainIndex' %}">HOME</a></li>
            <li ><a href="{% url 'PB:index' %}">PHONEBOOK</a></li>
            <li ><a href="{% url 'BD:index' 1 %}">게시판</a></li>
            <li>
                {% if user.is_active %}
                    <a href="{% url 'logout' %}">LOGOUT</a>
                    <a href="{% url 'userInfo' user.id %}">계정정보</a>
                {% else %}
                    <a href="{% url 'login' %}">LOGIN</a>
                {% endif %}
            </li>
        </ul>
        <hr>
    </div>
    {% block center %}

    
    {% endblock %}
    <div align="center" style="padding-top:100px;">
        <hr>
        <i style="color:pink; font-size:30px; font-family:Gabriola;">
            Copyrignt &copy; Web Developer. All rights reserved.
        </i>
    </div>
</body>
</html>