



<html>
<head>
    <title> 타이틀</title>
</head>
<body>   

<table border="1"> 
    <tr>
        <th>1</th> <th>2</th> <th>3</th>
    </tr>
    <tr>
        <td>일이다</td> <td>이이다</td> <td>삼이다</td>
    </tr>
    <tr>
        <td>1</td> <td>2</td> <td>3</td>
    </tr>
</table>

<table border="1" width="300" align="center"> 
    <caption> <b>제목이 <i>들어가는 부분</i> </b> </caption>
    <tr>
        <th colspan="2">1</th> <th>2</th> 
    </tr>
    <tr>
        <td rowspan="2">일이다</td> <td>이이다</td> <td>삼이다</td>
    </tr>
    <tr>
        <td>1</td> <td>3</td>
    </tr>
</table>











<hr>
    <a href="https://www.naver.com/" title="네이버 홈 페이지로 이동">
        <img alt="어떤 기능일까요?" width="100px" height="70px" src="https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile7.uf.tistory.com%2Fimage%2F24283C3858F778CA2EFABE"> <br>
    </a> <br>
    <img alt="이미지 오류" width="100px" height="70px" src="https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile7.uf.tistory.com%2Fimage%2F24283C3858F778CA2EFABE"> <br>
    <a href="https://www.naver.com/"> 이동하고자 하는 경로 </a> <br>
    <a href='http://127.0.0.1:8000/board/21314'> 블로그로 이동 </a> <br>
    <a href="https://www.naver.com/" target="_blank"> 네이버 </a> <br>
    <a href="https://www.naver.com/" title="어떤 기능일까요??" target="_blank"> 네이버 </a> <br>
<hr>

<hr>
<OL>
    <li> 목록 1 </li>
    <li> 목록 2 </li>
    <li> 목록 3 </li> 
</OL>
<UL>
    <li> 목록 1 </li>
    <li> 목록 2 </li>
    <li> 목록 3 </li> 
</UL>

<li> 목록 1 </li>
<li> 목록 2 </li>
<li> 목록 3 </li> 
<hr>

    <hr>
    <i> 기울임 글꼴 </i> <br>
    <b> 두꺼운 글씨 </b> <br>
    <u> 밑줄 </u> <br>
    <s> 취소선 </s> <br>
    <q> 큰 따옴표 </q>
    <hr>

    <h1> h1 태그입니다. (제목) </h1>
    <h2> h2 태그입니다. (제목 또는 부제목) </h1>
    <h3> h3 태그입니다. (부제목 또는 내용) </h1>
    <h4> h4 태그입니다. (내용) </h1>
    <h5> h5 태그입니다. (내용) </h1>
    <h6> h6 태그입니다. (내용) </h1>

   <!-- &copy; &lt;body&gt; <br>
   연<br>습<br>  중<br>
   -->

   하나씩 <p>만들어</p> 보자
</body>
</html>


