

<form method="POST"> {% csrf_token %}
    아이디 : <input type="text" name="userId" placeholder="input id"> <br>
    비밀번호 : <input type="password" name="userPassword" placeholder="input password"> <br>
    이름 : <input type="text" name="userFirstName" placeholder="input first name"> <br>
    성 : <input type="text" name="userLastName" placeholder="input last name"> <br>
    이메일 : <input type="email" name="userEmail" placeholder="input email"> <br>
    <hr>
    <input type="submit" value="가입">
</form>



