
<table border="1">
{% for val in wcInfo %}
    <tr>
        {% if forloop.counter == 1 %}
            {% for v in val %}
                <th> {{ v }} </th>
            {% endfor %}
        {% else %}
            {% for v in val %}
                {% if forloop.counter == 1 %}
                    <th> {{ v }} </th>
                {% elif forloop.counter == 2 %}
                    {% for k,m in v.items %}
                        <td> 
                            <a href="{{ m }}"> {{ k }}</a> 
                        </td>
                    {% endfor %}
                {% else %}
                    <td> {{ v }} </td>
                {% endif %}
            {% endfor %}
        {% endif %}
    </tr>
{% endfor %}
</table>